.module {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 5%;
}

.module-row {
  /* margin:10px 0; */
}

.elem {
  /* margin: 10px */
  margin: 10px
}

.block {
  margin-top: 15px
}

.elem-center {
  height: 40px
}

.navbar-custom {
  background: #212529;
}

.settings {
  /* background: #6c757d; */
  /* margin-right: 0px; */
  padding-right: 0px;
  padding-left: 0px;
}
.table{
  margin-bottom: 0px;
}

.navbar .navbar-nav.mr-auto{
  float:right;
}
#main{
  margin-top: 30px;
}
.hidden{
  display: none;
}
